[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easyScieloPack"]
	path = easyScieloPack
	url = https://github.com/programa-isa/easyscielopack
